.grid-item.html {
  background-color: #e34c26;
}

.grid-item.pug {
  background-color: #e34c26;
}

.grid-item.css {
  background-color: #1572b6;
}

.grid-item.sass {
  background-color: #1572b6;
}

.grid-item.javascript {
  background-color: #f7df1e;
}

.grid-item.jQuery {
  background-color: #0769ad;
}

.grid-item.php {
  background-color: #4f5b93;
}

.grid-item.ruby {
  background-color: #cc342d;
}

.grid-item.sql {
  background-color: #e38b00;
}

.grid-item.python {
  background-color: #3572a5;
}

.grid-item.c {
  background-color: #555555;
}

.grid-item.csharp {
  background-color: #68217a;
}

.grid-item.cpp {
  background-color: #00599c;
}

.grid-item.perl {
  background-color: #0298c3;
}

.grid-item.flutter {
  background-color: #25c1b8;
}

.grid-item.java {
  background-color: #b48b59;
}

.grid-item.swift {
  background-color: #ffac45;
}

.grid-item.go {
  background-color: #00add8;
}

.grid-item.r {
  background-color: #276dc3;
}

.grid-item.linux {
  background-color: #fffb00;
}

.grid-item.shell {
  background-color: #1E1E1E;
}

.grid-item.terminal {
  background-color: #1E1E1E;
}

.grid-item.console {
  background-color: #1E1E1E;
}


.grid-item.cobol {
  background-color: #A9A9A9;
}

.grid-item.visualBasic {
  background-color: #87CEEB;
}

.grid-item.visualStudioCode {
  background-color: #61AFEF;
}

.grid-item.androidStudio {
  background-color: #333142;
}

.grid-item.aws {
  background-color: #FF9900;
}

.grid-item.heroku {
  background-color: #6762A6;
}

.grid-item.firebase {
  background-color: #eb5a11;
}

.grid-item.stableDiffusion {
  background-color: #4CAF50;
}

.grid-item.comfyUI {
  background-color: #4CAF50;
}

.grid-item.photoshop {
  background-color: #31A8FF;
}
.grid-item.illustrator {
  background-color: #FF9A00;
}
.grid-item.indesign {
  background-color: #E03C31;
}
.grid-item.afterEffects {
  background-color: #4800a1;
}
.grid-item.clipStudioPaint {
  background-color: #c5c5c5;
}
.grid-item.blender {
  background-color: #F5792A;
}
.grid-item.unity {
  background-color: #545454;
}
.grid-item.unrealEngine {
  background-color: #020c58;
}
.grid-item.logicPro {
  background-color: #c0cfe2;
}
.grid-item.cubase13 {
  background-color: #b3000f;
}